<template>
  <div>
  <div class="tarjeta">
             <img class="img-tarjeta" src="../assets/img-tarjeta.png" alt="">
             <div class="tarjeta-info">
             <p>Create a site no Programming skills required in 2 weeks</p>
             <div class="precio-tarjeta"><span>$5000/Months</span>
               <span style="display:flex;align-items:center"> <span>Live</span> <div style="margin-left:0.4rem;background-color:green;height:8px;width:8px;border-radius:100%"></div></span>
             </div>
               <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
             </div>

         <div class="icon-bar">
           <span><i class="ion-social-usd"></i>3000</span>
           <span><i class="ion-eye"></i>1000</span>
           <span><i class="ion-person-stalker"></i>500</span>
       </div>
       </div>
      </div>
</template>

<script lan>
export default {
  name: 'hello'
}
</script>

<style scoped>
.tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 15rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px solid rgba(0, 0, 0, 0.1);
          box-shadow: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0.6rem;
  cursor: pointer; }
  .tarjeta .img-tarjeta {
    width: 100%;
    height: auto; }
  .tarjeta .tarjeta-info {
    padding: 0.7rem; }
    .tarjeta .tarjeta-info .precio-tarjeta {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 0.8rem;
      font-weight: lighter;
      color: #888; }
      .tarjeta .tarjeta-info .precio-tarjeta i {
        font-size: 1rem; }
  .tarjeta .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.3rem;
    font-size: 0.8rem;
    width: 100%;
    background: #eee;
    color: #888; }
    .tarjeta .icon-bar i {
      font-size: 1rem;
      margin-right: 0.3rem; }

.tarjeta-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 15rem;
  border-radius: 5px;
  border: 2px dotted #ddd;
  margin: 0.6rem;
  color: #999;
  font-weight: lighter;
  padding: 2.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }
  .tarjeta-add i {
    font-size: 3rem;
    color: #ddd;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .tarjeta-add:hover {
    background-color: #f5f5f5;
    border: 2px dotted #bbb; }
    .tarjeta-add:hover i {
      color: #bbb; }
</style>
