<template>
  <div>
    <nav>
      <div class="nav-btn">
        <div class="dropdown">
          <button class="btn btn-secondary" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Campaigns<i class="ion-chevron-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" type="button"><i class="ion-ios-compose-outline"></i>Edit</a>
            <a class="dropdown-item" type="button">Another action</a>
            <a class="dropdown-item" type="button">Something else here</a>
          </div>
        </div>
          <a href="#"><i class="fa fa-list-ul"></i>Pending</a>
        </div>
        <div class="nav-btn">
          <a href=""><i style="font-size:1.6rem" class="ion-ios-search"></i></a>
          <!-- <div>Data picker</div> -->
          <a href=""><button class="btn btn-danger btn-sm" type="button" name="button">1d</button></a>
        </div>
      </nav>
      <div class="contenedor">
        <slot> </slot>
      </div>
  </div>
</template>

<script>
export default {
  name: 'index',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.btn-danger {
  border-radius: 50px;
  height: 30px;
  width: 50px;
}

nav {
  display: flex;
  padding: 1.1rem 5rem;
  justify-content: space-between;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
  .nav-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  a {
    i {
      font-size: 1.1rem;
      margin: 0 0.8rem;
    }
    color: #666;
    &:hover {
      text-decoration: none;
      color: #333;
    }
  }

  #dropdownMenu2 {
    color: #333;
    background-color: #fff;
    border: 2px solid #eee;
    i {
      font-size: 0.8rem;
      margin-left: 1rem;
    }
  }
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 3rem;
  .tarjeta {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 15rem;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 0.6rem;
    cursor: pointer;
    .img-tarjeta {
      width: 100%;
      height: auto;
    }
    .tarjeta-info {
      padding: 0.7rem;
      .precio-tarjeta {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        font-weight: lighter;
        color: #888;
        i {
          font-size: 1rem;
        }
      }
    }

    .icon-bar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.3rem;
      font-size: 0.8rem;
      width: 100%;
      background: #eee;
      color: #888;
      i {
        font-size: 1rem;
        margin-right: 0.3rem;
      }
    }
  }

  .tarjeta-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    border-radius: 5px;
    border: 2px dotted #ddd;
    margin: 0.6rem;
    color: #999;
    font-weight: lighter;
    padding: 2.4rem;
    transition: all 0.3s;
    cursor: pointer;
    i {
      font-size: 3rem;
      color: #ddd;
      transition: all 0.3s;
    }
    &:hover {
      background-color: #f5f5f5;
      border: 2px dotted #bbb;
      i {
        color: #bbb;
      }
    }
  }

  .tarjeta-edit{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: #fff;
    top: 0.3rem;
    right: 0.3rem;
    border: 0px;
    i{padding: 3px 7px 3px 7px;color: #e9961a}
  }
}

</style>
