<template>
  <div id="app">
    <index>
    <card></card>
    <card></card>
    <card></card>
    <card></card>
  </index>
  </div>
</template>

<script>
import Hello from './components/Hello'
import Card from './components/Card.vue'
import Index from './components/Index.vue'

export default {
  name: 'app',
  components: {
    Hello,
    Card,
    Index
  }
}
</script>

<style>
</style>
